.dashboard-item {
  display: flex;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  padding: 15px 20px;
  border-radius: 5px;
  transition: all 0.3s;

  &.active {
    background-color: #d7443d;
    color: #fff;
  }
  i {
    margin-right: 5px;
  }

  h5 {
    font-size: 17px;
    font-weight: 500;
  }
}
